
{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Créer un nouveau thread</h2>

            <div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Créer un nouveau thread</h2>
            
            {{ form_start(createForm) }}
            {{ form_widget(createForm) }}
            <button type="submit" class="btn btn-primary">Créer</button>
            {{ form_end(createForm) }}
        </div>
    </div>
</div>
{% endblock %}
