{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block body %}
    
    <div>
        <div><h1>{{ thread.title }}</h1></div>
        <p>{{ thread.body }}</p>
        <form action="{{ path('app_thread_new') }}" method="post">
            <button type="submit" class="btn btn-primary">Créer un thread</button>
        </form>
    </div>
   
{% endblock %}
