{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block body %}
    {% for thread in threads %}
        <div>
            <a href="{{ path('app_thread_detail', {'id': thread.id}) }}">{{ thread.title }}</a>
            <p>{{ thread.body }}</p>
        </div>
    {% endfor %}
{% endblock %}
