{% extends 'base.html.twig' %}

{% block title %}Thread Details
{% endblock %}

{% block body %}
	<h1>Thread Details</h1>

	<p>
		<strong>Title:</strong>
		{{ thread.title }}</p>
	<p>
		<strong>Body:</strong>
		{{ thread.body }}</p>

{% endblock %}
